.rateit{height: 22px;margin-top: 11px;display:-moz-inline-box;display:inline-block;position:relative;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-o-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none}
.rateit .rateit-range{position:relative;display:-moz-inline-box;display:inline-block;background:url("star.gif");height:16px;outline:none}
.rateit .rateit-range *{display:block}
* html .rateit,* html .rateit .rateit-range{display:inline}
* + html .rateit,* + html .rateit .rateit-range{display:inline}
.rateit .rateit-hover,.rateit .rateit-selected{position:absolute;left:0}
.rateit .rateit-hover-rtl,.rateit .rateit-selected-rtl{left:auto;right:0}
.rateit .rateit-hover{background:url("star.gif") left -32px}
.rateit .rateit-hover-rtl{background-position:right -32px}
.rateit .rateit-selected{background:url("star.gif") left -16px}
.rateit .rateit-selected-rtl{background-position:right -16px}
.rateit .rateit-preset{background:url("star.gif") left -48px}
.rateit .rateit-preset-rtl{background:url("star.gif") left -48px}
.rateit button.rateit-reset{background:url("delete.gif") 0 0;width:16px;height:16px;display:-moz-inline-box;display:inline-block;float:left;outline:none;border:none;padding:0}
.rateit button.rateit-reset:hover,.rateit button.rateit-reset:focus{background-position:0 -16px}