header.header-1 nav.menu .main-menu > li > a, header.header-2 nav.menu .main-menu > li > a, header.header-3 nav.menu .main-menu > li > a, header.header-4 nav.menu .main-menu > li > a {

    padding: 23px 5px !important;

}
header.header-1 nav.menu .main-menu > li > a, header.header-2 nav.menu .main-menu > li > a, header.header-3 nav.menu .main-menu > li > a, header.header-4 nav.menu .main-menu > li > a {
    text-transform: uppercase;
    padding: 23px 5px !important;
}
header.header-2 #logo, header.header-3 #logo, header.header-4 #logo {

    padding-top: 8px !important;

}

.menu .main-menu .sub-menu {
    z-index: 2;

}
header.header-mobile {

    padding: 0 !important;

}
.w3-border {
    border: 1px solid #ccc !important;
    border-top-color: rgb(204, 204, 204);
    border-right-color: rgb(204, 204, 204);
    border-bottom-color: rgb(204, 204, 204);
    border-left-color: rgb(204, 204, 204);
}


.w3-white, .w3-hover-white:hover {
    color: #000 !important;
}
.w3-btn, .w3-btn:link, .w3-btn:visited {
    color: #FFFFFF;
}

.w3-round-xlarge {
    border-radius: 16px;
}
w3-btn, .w3-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.w3-btn, .w3-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.section-pretitle {

    font-size: 46px !important;
    font-family: roboto !important;

}
.page-title {

    font-family: roboto !important;
    text-transform: uppercase !important;

}
.menu .main-menu > li:hover > .sub-menu {
    z-index: 100 !important;
}